@import '../appThemeVariables.scss';

.fill-remaining-space {
    flex: 1 1 auto;
  }

.footer {
    //height: 33px;
    font-size: 75%;
    color: $primary-contrast;
    text-align: center;
    width: 100%
}

.footer-text {
  margin-top: 2px;
  margin-bottom: 2px;
}

.toolbar {
    color: $primary-contrast;
    background-color: $primary;
    z-index: 10;
}

.selected {
    color: $primary-contrast;
    background-color: $primary;
}

.not-selected {
    color: $primary-contrast;
    background-color: $primary;
}

.sticky-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
