@import '../appThemeVariables.scss';

mat-sidenav-container {
  //height: 100%;
  height: calc(100% - 135px);
  margin-top: 65px;
  margin-bottom: 65px;
}

mat-sidenav-content, mat-sidenav {
  height: 100%;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  width: 150px;
  background-color: $primary;
  color: $primary-contrast;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

a {
  text-decoration: none;
  color: $primary-contrast;
}

a:hover,
a:active {
  color: $accent;
}


.fill-remaining-space {
    flex: 1 1 auto;
  }

.footer {
    //height: 33px;
    font-size: 75%;
    color: $primary-contrast;
    text-align: center;
    width: 100%
}

.footer-text {
  margin-top: 2px;
  margin-bottom: 2px;
}

.toolbar {
    height: 65px;
    color: $primary-contrast;
    background-color: $primary;
    z-index: 10;
}

.selected {
    color: $primary-contrast;
    background-color: $primary;
}

.not-selected {
    color: $primary-contrast;
    background-color: $primary;
}

.sticky-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.menu-page {
  margin: 0px 8px 0px 8px;
}

.mat-expansion-panel {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-expansion-panel-expanded {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-accordion > .mat-expansion-panel-spacing:last-child {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-expansion-panel-header-title, .mat-card-title {
  font-weight: bold;
  font-size: large;
}

.mat-expansion-panel-header-description, .mat-card-subtitle {
  font-weight: bold;
  color: $primary-light;
}
/*
.mat-card-title {
  font-size: small;
  color: $primary-dark;
}
*/
.items {
  font-size: medium;
}

.mat-card-content > :first-child {
  margin-top: 5px;
}

.mat-card {
    margin-top: 5px;
    //cursor: pointer;
}

.meal-card {
  margin-bottom: 10px;
  cursor: pointer;
}

.meal-card-title {
  color: $primary-dark;
}

.mat-list-item.mat-list-item-avatar.mat-list-item-with-avatar {
  height: 36px;
}
