<div>
<ng-container>
  <mat-toolbar class="toolbar sticky-header">
    <button mat-icon-button (click)="menuToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>What's for Dinner</span>
  </mat-toolbar>

<mat-sidenav-container class="container" hasBackdrop="false" >
      <mat-sidenav  #sidenav mode="over" [fixedInViewport]="true" [fixedTopGap]="65" [fixedBottomGap]="65" [opened]="menuOpen">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <button mat-button (click)="menuClick('today')">
                <mat-icon class="icon">today</mat-icon>
                <span  class="label">&nbsp;Today</span>
              </button>
            </mat-toolbar-row>
            <mat-toolbar-row>
              <button mat-button (click)="menuClick('half')">
                <mat-icon class="icon">calendar_today</mat-icon>
                <span  class="label">&nbsp;3-Day</span>
              </button>
            </mat-toolbar-row>
            <mat-toolbar-row>
              <button mat-button (click)="menuClick('all')">
                <mat-icon class="icon">list</mat-icon>
                <span  class="label">&nbsp;All</span>
              </button>
            </mat-toolbar-row>
          </mat-toolbar>
       </mat-sidenav>
      <mat-sidenav-content>



          <div id="details" class="menu-page" *ngIf="viewMode==='single'">
              <div>
                <mat-card class="mat-elevation-z4" *ngFor="let menu of menuList">
                  <mat-card-header class="details-card-header">
                    <mat-card-title>
                        Today
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{ menu.date |  date:'shortDate'}}
                    </mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <mat-card class="meal-card mat-elevation-z2" *ngFor="let meal of menu.mealSlots">
                        <mat-card-header>
                          <mat-card-title class="meal-card-title">
                            {{ meal.meal}}
                          </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="items" *ngFor="let item of meal.recipes">
                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon> {{ item.name }}
                          </div>
                        </mat-card-content>
                    </mat-card>
                  </mat-card-content>
                </mat-card>
              </div>
          </div>






          <div class=menu-page *ngIf="viewMode==='multi'">
              <mat-accordion>
                <mat-expansion-panel *ngFor="let menu of menuList">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ menu.date |  date:'EEEE'}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ menu.date |  date:'shortDate'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                      <mat-card class="meal-card" *ngFor="let meal of menu.mealSlots">
                          <mat-card-header>
                            <mat-card-title class="meal-card-title">
                              {{ meal.meal}}
                            </mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                              <mat-list>
                                  <mat-list-item *ngFor="let item of meal.recipes">
                                      <mat-icon matListIcon>keyboard_arrow_right</mat-icon> {{ item.name }}
                                  </mat-list-item>
                              </mat-list>
                          </mat-card-content>
                      </mat-card>
                </mat-expansion-panel>
              </mat-accordion>
              </div>


</mat-sidenav-content>
</mat-sidenav-container>
  <mat-toolbar class="toolbar sticky-footer">
    <div class="footer">
      <span class="footer-text">A HobbsSquad Joint</span>
      <br>
      <span class="footer-text">Copyright &copy; 2019, Jon M Hobbs</span>
    </div>
  </mat-toolbar>
</ng-container>
</div>
